h2{
  text-align: center;
  background: black;
}

#Container{
  padding: 8px 24px;
  font-size: 30px;
  width: 500px;
  border: 1px solid #f7f381;
  background: #f7f381;
  box-shadow: 0 0 10px 2px #333333;
}
